<div id="shoeslisting">
    {{#each this}}

    <div class="shoe" data-sid="shoe-{{id}}">
        <h2>{{name}}</h2>
        <img class="thumbnail" src="img/{{src}}" />
    </div>

    {{/each}}
</div>